@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --animate-marquee: marquee 90s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.alexandria {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --primary-color: rgb(172, 18, 18);
  --secondary-color: rgb(210, 159, 34);
  --white-color: rgb(245, 245, 245);
  --black-color: rgb(25, 23, 27);

  --dark-primary: #2f0101;
  --dark-primary-2: #2b0000;

  --btn-default: linear-gradient(90deg, #ffbc20 0%, #ff9d00 100%);
  --btn-secondary: linear-gradient(90deg, #ac1212 0%, #781010 100%);

  --br-color-default: #ffce7e;
  --br-color-secondary: #d45b5b;
  --br-color-card: linear-gradient(90deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.01) 35%,
      rgba(255, 255, 255, 0.01) 65%,
      rgba(255, 255, 255, 0.54) 100%);

  --card-bg-color-primary: linear-gradient(90deg,
      rgba(255, 255, 255, 0.24) 0%,
      rgba(255, 255, 255, 0.07) 100%);

  --pagination-color: rgb(210, 159, 34, 0.5);

  --font-heading: "Alexandria", sans-serif;
  --font-body: "Poppins", sans-serif;

  --font-heading-weight: 700;
  --font-body-weight: 400;

  --affliation-text: #99a1af;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-body);
  font-weight: var(--font-body-weight);
  color: rgb(55, 55, 55);
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

img,
svg,
video,
canvas {
  max-width: 100%;
}

body {
  min-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
  color: var(--light-primary-color);
}

body,
a,
p {
  color: var(--white-color);
  font-family: var(--font-body);
  font-weight: var(--font-body-weight);
}

button {
  color: var(--white-color);
}

.bold-heading {
  font-weight: 900;
}

.light-body {
  font-weight: 200;
}

nav {
  z-index: 99999;
}

nav a {
  color: var(--white-color);
  text-transform: uppercase;
}

footer h3 {
  color: var(--primary-color);
}

@media (max-width: 379px) {

  h1,
  h2,
  h3,
  p,
  a,
  button,
  span {
    overflow-wrap: anywhere;
  }
}